.indexMain{
    display: grid;
    grid-template-rows: 50px 1fr 50px 50px;
    min-height: 100vh;
}

.indexArticle{
    text-align: center;
}

.button{
    display: grid;
    grid-template-columns:  1fr 2fr 1fr;
    margin: 0 20px 0 20px;
}

div footer{
    text-align: right;
    padding: 5px 5px 0 0;
}