.my_account_main{
    display: grid;
    grid-template-rows: 70px 1fr 20px  50px 20px 50px 50px;
    min-height: 100vh;
}
body div header{
    padding: 5px 5px 5px 5px;
}
.academyname{
    float: right;
}
.title{
    text-align: center;
    font-weight: bold;
}
.myInfo{
    margin-top: 50px;
    text-align: center;
}
.level_container,
.ledgerName_container,
.phoneNum_container{
    margin-top: 10px;
}
section{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    margin: 0 10px 0 10px;
}

footer{
    text-align: right;
    padding: 5px 5px 0 0;
}